body {
    display: grid;
    color: black;
    grid-template-areas: 
        "header header"
        "nav nav"
        "main aside"
        "footer footer";
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    min-height: 40vh;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    grid-area: header;
    background: #4c4c4c;
    color: white;
    padding: 20px;
    text-align: center;
}

nav{
    grid-area: nav;
    display: flex;
    background: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

.nav-button{
    background-color: blueviolet;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 25px;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.3);
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    text-align: center;
}

.nav-button:hover{
    background-color: blue;
    box-shadow: 5px 5px 12px rgba(0,0,0,0.4);
}

main {
    grid-area: main;
    background: #fff;
    padding: 20px;
}

aside {
    grid-area: aside;
    background: #ddd;
    padding: 20px;
}

footer {
    grid-area: footer;
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
}




